<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.bench.app.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bench-auth</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.bench.app.web</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.url</string>
				<string>public.html</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
